*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.unorder{
    background-color: orangered;
    display: flex;
    padding:10px 0;
    list-style-type:none;
}

.unorder li a{
   text-decoration:none;
   padding:14px 16px;
   color:black;
}

.unorder li a:hover{
    background-color: #000;
    color:#fff;
}

.dropdown-menu{
    display: none;
    position: relative;
    min-width:160px;
    border:1px solid #000;
    align-items: center;
    top:40px;
    list-style-type: none;
}

.dropdown-menu li{
    padding:10px 12px;
    margin:10px 12px;
}

.dropdown:hover .dropdown-menu{
    display: block;
    position: absolute;
}


